/* ADD YOUR STYLES HERE */

table {
	width: 100%;
}

tr {
	border-bottom: 1px solid silver;
}

tr:last-child {
	border-bottom: none;
}

td, th {
	padding: 10px;
}

th {
	border-bottom: 1px solid silver;
}

.small-table table {
	width: 33.3%;
	border-top: 1px solid silver;
	border-bottom: 1px solid silver;
}

.small-table td div {
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

.small-table td div:last-child {
	font-size: .7em;
	color: silver;
	font-weight: normal;
},

.bar-chart table {
	width: 100%;
}

.bar-chart td, .bar-chart th, .bar-chart tr {
	padding: 2px;
	border: 0;
}

.bar-chart td div{
	background-color: #5588ff;
}

.bar-chart div {
	padding: 5px;
	text-align: left;
	color: white;
	font-size: .8em;
}

.bar-chart th {
	width: 15%;
	text-align: right;
	padding-right: 5px;
	font-size: .8em;
}